<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.campus.mapper.BorrowRecordMapper">

    <resultMap id="BaseResultMap" type="com.shiro.campus.model.entity.BorrowRecord">
            <id property="recordId" column="recordId" />
            <result property="userId" column="userId" />
            <result property="bookId" column="bookId" />
            <result property="borrowTime" column="borrowTime" />
            <result property="dueTime" column="dueTime" />
            <result property="returnTime" column="returnTime" />
            <result property="fine" column="fine" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        recordId,userId,bookId,borrowTime,dueTime,returnTime,
        fine,isDeleted
    </sql>
</mapper>
