<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.campus.mapper.CampusCardMapper">

    <resultMap id="BaseResultMap" type="com.shiro.campus.model.entity.CampusCard">
            <id property="cardId" column="cardId" />
            <result property="userId" column="userId" />
            <result property="balance" column="balance" />
            <result property="isLost" column="isLost" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        cardId,userId,balance,isLost,isDeleted
    </sql>
</mapper>
