<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.campus.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="com.shiro.campus.model.entity.Grade">
            <id property="gradeId" column="gradeId" />
            <result property="studentId" column="studentId" />
            <result property="courseId" column="courseId" />
            <result property="score" column="score" />
            <result property="semester" column="semester" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        gradeId,studentId,courseId,score,semester,isDeleted
    </sql>
</mapper>
