<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.campus.mapper.SurveyAnswerMapper">

    <resultMap id="BaseResultMap" type="com.shiro.campus.model.entity.SurveyAnswer">
            <id property="answerId" column="answerId" />
            <result property="surveyId" column="surveyId" />
            <result property="questionId" column="questionId" />
            <result property="userId" column="userId" />
            <result property="answer" column="answer" />
            <result property="submitTime" column="submitTime" />
            <result property="isDeleted" column="isDeleted" />
    </resultMap>

    <sql id="Base_Column_List">
        answerId,surveyId,questionId,userId,answer,submitTime,
        isDeleted
    </sql>
</mapper>
