<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.campus.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.shiro.campus.model.entity.User">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="userId" column="userId"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="createdTime" column="createdTime"/>
        <result property="isDeleted" column="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        userName,password,role,userId,email,phone
    </sql>
    <insert id="batchAddUsers" parameterType="java.util.List">
        INSERT INTO users
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userName,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR},
            #{item.role,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR},
            #{item.phone,jdbcType=VARCHAR},
            )
        </foreach>
        ON DUPLICATE KEY UPDATE age=VALUES(age) <!-- 可选冲突处理 -->
    </insert>
</mapper>
